@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 41, 204, 0;
    --background-end-rgb: 15, 48, 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.primary-bg {
  background-color: #29CC00;
}

.primary-color {
  color: #29CC00;
}

.secondary-bg {
  background-color: #0F4801;
}

.secondary-color {
  color: #0F4801;
}

.light-bg {
  background-color: #77B867;
}

.light-color {
  color: #77B867;
}

.brown-color {
  color: #80361E;
}

.input-font {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.grey-bg {
  background-color: #262626;
}